#game {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #89D4F1;
    background: -moz-linear-gradient(top, #D2EEF9 1%,#89D4F1 100%);
    background: -webkit-linear-gradient(top, #D2EEF9 1%,#89D4F1 100%);
    background: -o-linear-gradient(top, #D2EEF9 1%,#89D4F1 100%);
    background: -ms-linear-gradient(top, #D2EEF9 1%,#89D4F1 100%);
    background: linear-gradient(to bottom, #D2EEF9 1%, #89D4F1 100%);
    font-family: Ubuntu;
}

#game #background_right {
    position: absolute;
    right: -40px;
    bottom: 20px;
}

#game #background_left {
    position: absolute;
    left: -40px;
    bottom: 20px;
}

#game #background_left .habbo {
    height: 150px;
    position: absolute;
    bottom: 25px;
    left: 110px;
}
