/* Roominfo */

#roomInfo {
    width: 400px;
    height: 175px;
    position: absolute;
    bottom: 5px;
    display: none;
}

#roomInfo .container {
    position: relative;
    width: 400px;
    height: 175px;
}

#roomInfo .main {
    background: rgba(30, 30, 30, 0.65);
    width: 175px;
    height: 125px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
}

#roomInfo .main .control {
    height: 125px;
    background: #323232;
    width: 23px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #9C9791;
    line-height: 125px;
    padding-left:5px;
}

#roomInfo .info {
    background: rgba(30, 30, 30, 0.65);
    padding: 10px;
    max-height: 65px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    margin-left: 10px;

}

#roomInfo .info .title {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}

#roomInfo .info sub {
    color: #989898;
    font-weight: 500;
    display: block;
    margin-top: 5px;

}